
#main {
    height: 150rem;
    width: 100%;
}

#header {
    height: 8rem;
    position: fixed;
    width: 100%;
    transition: .4s;
    z-index: 10;
    user-select: none;
}

.header__logo {
    width: 14rem;
    display: inline-block;
    margin-right: 318px;
    margin-left: 105px;
    position: relative;
    top: calc((80px - 53px)/2 - 1px);
}

.header__logo-img {
    transition-duration: .4s;
    transition-property: width, height;
}

.header__nav {
    display: inline-block;
    position: relative;
    top: -6px;
    right: -134px;
}

.header__nav-list {
    list-style-type: none;
    padding-left: 0px;
    position: relative;
    right: 40px;
    margin: 0;
}

.header__nav-item {
    color: var(--white);
    display: inline-block;
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 6rem;
    padding: 10px 15px;
    position: relative;
    transition: .8s;
}

.header__nav-item a {
    color: var(--white);
    text-decoration: none;
    position: relative;
    top: 3px;
}

.header__nav-item::before {
    content: "";
    display: block;
    width: 1rem;
    height: 8rem;
    color: red;
    position: absolute;
    top: 0;
    right: -4px;
    cursor: pointer;
}

.menu-btn {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white);
    padding: 7px 14px;
    background-color: var(--primary);
    position: absolute;
    left: calc(528.08px + 62px);
    bottom: calc(50% - 31px/2);
}

.menu-btn:hover {
    background-color: #1b1b1b;
    animation: transferBackgroundColor ease .4s;
    cursor: pointer;
}

#slider {
    user-select: none;
    height: 626px;
}

.slider__img {
    width: 100%;
    height: 626px;
    object-fit: cover;
}

.slider__status {
    position: relative;
    top: -333px;
    font-weight:100;
    font-size: 50px;
    text-align: center;
    flex-wrap: wrap;
    color: var(--white);
    display: block;
}

.slider__status span:nth-child(1) {
    display: block;
}

.slider__status span:nth-child(2) {
    font-weight: 500;
}

.slider__button {
    background-color: var(--primary);
    color: var(--white);
    padding: 16px 40px;
    border: none;
    display: inline-block;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 460px;
    font-size: 1.6rem;
    cursor: pointer;    
}

.slider__button:hover

#content {

}

/* First content */

#first-content {

}

#first-content::before {
    display: block;
    content: "";
    width: 100%;
    height: 100px;
    position: relative;
    top: -100px;
    left: 0;
}

.content__header:last-child {
    margin-top: 100px;
}

.content-header__subHeader {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 70px;
    font-weight: 100;
}

.content-header__subHeader::after {
    content: '';
    height: 0.1rem;
    width: 35rem;
    background-color: var(--black);
    position: relative;
    top: 40px;
    right: 0;
    margin: 0 auto;
    display: block;
}

.content-header__about {
    font-size: 1.5rem;
    width: 91.2rem;
    text-align: center;
    margin: 0 auto;
}

.content1__body {
    margin-top: 100px;
}

.content1__middleInfo {
    
}

.content1-body__iphone {
    display: inline-block;
    margin-left: calc(50% - 253px/2);
}

.content1__leftInfoGroup {
    margin-left: calc(449.66px - 360px);
    width: 36rem;
}

.content1__rightInfoGroup {
    width: 36rem;
    text-align: right;
}

.content1__infoGroupItem {
    margin-bottom: 100px;
    width: 36rem;
}

.content1__infoGroupItem:hover .content1-info__icon {
    position: relative;
    background-color: var(--black);
    transition: 1s;
    animation: objMovingUp ease-in .4s forwards;
}

.content1__infoGroupItem:hover .content1-info__header {
    color: var(--primary);
    transition: .8s;
}

.content1__info {

}

.content1-info__icon {
    background-color: var(--primary);
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 30px;
    position: relative;
    transition: 1s;
    animation: objMovingDown ease-in .4s;
}

.content1__rightInfoGroup .content1-info__icon {
    margin-right: 0;
    margin-left: 30px;
}

.content1-info__icon i {
    color: var(--white);
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content1-info__header {
    display: inline-block;
    font-size: 3rem;
    line-height: 5rem;
    position: relative;
    top: -12px;
    left: 0;
    margin-bottom: 15px;
    transition: .8s;
}

.content1-info__about {
    font-size: 1.5rem;
    line-height: 2.6rem;
}

/* Content Separate */
.content-separ {
    width: 100%;
    height: 363px;
    margin-top: 867px;
    padding: 85px 0;
    background-image: url(/Last-try_project/assets/img/content-separ.jpg);
}

.content-separ .content-separ__item i {
    color: #fff;
    /* padding: 12px; */
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 50px;
}

.content-separ__item .item1 {
    padding: 24px 20.88px;
}

.content-separ__item .item2 {
    padding: 24px 24px;
}

.content-separ__item .item3 {
    padding: 24px 27.13px;
}

.content-separ__item .item4 {
    padding: 24px 17.75px;
}

.content-separ__item .content-separ__num,
.content-separ .content-separ__item .content-separ__desc {
    color: #fff;
}

.content-separ .content-separ__item .content-separ__num {
    font-size: 40px;
}

.content-separ .content-separ__item .content-separ__desc {
    font-size: 20px;
}

/* Second content */
#second-content {

}

#footer {

}